<h1>show</h1>

<p>
<strong>Name</strong>
<%= @blade.name %>
</p>

<p>
<strong>speed</strong>
<%= @blade.speed %>
</p>

<p>
<strong>Number of layers</strong>
<%= @blade.number_of_layers %>
</p>

<%= link_to 'Blades', blades_path %>
