<h1>show</h1>

<p>
<strong>Name</strong>
<%= @footballer.name %>
</p>

<p>
<strong>Age</strong>
<%= @footballer.age %>
</p>

<p>
<strong>club</strong>
<%= @footballer.club %>
</p>

<%= link_to 'Footballers', footballers_path %>
