<h1>show</h1>

<p>
<h3>name</h3>
<%= @ball.name %>
</p>
<p>
<h3>material</h3>
<%= @ball.material %>
</p>
<p>
<h3>namber of stars</h3>
<%= @ball.stars %>
</p>
<p>
<%= link_to 'catalog', balls_path %>
</p>
